/* [5. Countdown] */

#countdown                   { font-weight: 300; white-space: nowrap; margin-left: -4px; margin-top: -2em; }

#countdown > div             { display: inline-block; margin:0 0 5px 4px; vertical-align: top;  }
#countdown > div:first-child { margin-right: 30px; }
#countdown > div:last-child  { border-right: 0; }

#countdown span              { display: block; font-size: 100px; color:#ffd565; font-weight: 600; line-height: 70px; margin-left: -4px; }
#countdown span i            { font-style: normal; }

#countdown ins               {  display: block; line-height: 25px; font-size: 21px; color:#ffd565;  }
#countdown ins.cd1           { display: block; }
#countdown ins.cd2           { display: none; }